body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    & .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .acesse {
            font-size: 1.5rem;
            color: var(--texto-cinza-claro);
        }

        & form {
            background-color: var(--branco);
            width: 60%;
            border-radius: 2rem;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
            padding: 3rem 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border: 1px solid var(--borda-cinza-claro);

            & .logo {
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    width: 18rem;
                    height: 6rem;
                }
            }

            & .acesse {
                font-size: 2rem;
                color: var(--texto-azul);
                font-weight: bold;
            }

            & .inputs {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                gap: 1rem 2rem;

                & .form-group {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    align-items: baseline;
                    width: 100%;
                    gap: 1rem;

                    & label {
                        color: var(--texto-cinza-escuro);
                        font-size: 1.4rem;
                    }

                    & input {
                        border: 1px solid var(--input-cinza-claro);
                        border-radius: 1rem;
                        padding: 1rem;
                        width: 96%;
                    }
                }
            }


            & button {
                padding: 1rem 2rem;
                background-color: var(--azul);
                border-radius: 4rem;
                text-decoration: none;
                color: var(--texto-branco);
                font-size: 1.8rem;
                transition: 0.2s linear;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;

                &:hover {
                    background-color: var(--branco);
                    border: 1px solid var(--azul);
                    color: var(--texto-azul);
                }
            }

            & p {
                font-size: 2rem;
                color: var(--texto-cinza-claro);

                & a {
                    color: var(--texto-cinza-escuro);
                    text-decoration: none;
                }
            }
        }

        & .voltar {
            font-size: 1.5rem;
            text-decoration: none;
            color: var(--texto-cinza-escuro);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
}