/* Formulários */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;

    & .interface {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 auto;

        & form {
            background-color: var(--branco);
            width: 40%;
            border-radius: 2rem;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid var(--borda-cinza-claro);
            gap: 3rem;

            & .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                & img {
                    width: 21rem;
                    height: 7rem;
                }

                & .acesse {
                    font-size: 2rem;
                    color: var(--texto-azul);
                    font-weight: bold;
                }
            }

            & .form-group {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: baseline;
                width: 100%;
                gap: 1rem;

                & label {
                    color: var(--texto-azul);
                    font-size: 2rem;
                }

                & input {
                    border: 1px solid var(--input-cinza-claro);
                    border-radius: 2rem;
                    padding: 1rem;
                    width: -webkit-fill-available;
                    font-size: 1.8rem;

                    &:focus {
                        color: var(--texto-azul);
                        font-size: 1.8rem;
                        outline: 1px solid var(--azul);
                    }
                }

                & select {
                    border: 1px solid var(--input-cinza-claro);
                    border-radius: 2rem;
                    padding: 1rem;
                    width: -webkit-fill-available;
                    font-size: 1.8rem;
                    background-color: var(--branco);
                    color: var(--texto-azul);
                    transition: border 0.2s linear, box-shadow 0.2s linear;
                    outline: none;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03);
                    margin-top: 0.5rem;
                    background-image: url("data:image/svg+xml;charset=UTF-8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5 8L10 13L15 8' stroke='%23007bff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
                    background-repeat: no-repeat;
                    background-position: right 1.5rem center;
                    background-size: 2rem;
                    padding-right: 4rem;

                    &:focus {
                        border: 1px solid var(--azul);
                        box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.08);
                        color: var(--texto-azul);
                    }
                }
            }

            & button {
                padding: 1rem 2rem;
                background-color: var(--azul);
                border-radius: 4rem;
                text-decoration: none;
                color: var(--texto-branco);
                font-size: 1.8rem;
                transition: 0.2s linear;
                border: 1px solid transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                width: 100%;

                &:hover {
                    background-color: var(--branco);
                    border: 1px solid var(--azul);
                    color: var(--texto-azul);
                }
            }

            & p {
                font-size: 2rem;
                color: var(--texto-cinza-claro);

                & a {
                    color: var(--texto-azul);
                    text-decoration: none;
                }
            }
        }

        & .voltar {
            font-size: 2rem;
            text-decoration: none;
            color: var(--texto-cinza-escuro);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            & i {
                color: var(--azul);
            }
        }
    }
}


@media (min-width: 0px) and (max-width:720px) {

    body {
        & .interface {
            height: 100vh;
            background-color: var(--branco);

            & form {
                width: 100%;
                border: none;
                box-shadow: none;
                padding: 1rem;
                gap: 1.5rem;
            }
        }

    }
}

/* Formulários */